footer {
    background-color: #F4F5F7;
    padding: 2rem;

    .foot {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 1rem;
        align-items: center;

        .logo-footer {

            h3 {
                color:#6671ee;
                font-size: 2rem;
                padding-bottom: 1.5rem;
    
            }
    
            p {
                color:#6671ee;
                font-size: 1.5rem;
    
            }
    
        }

        .links {
            text-align: end;


            p {
                color:#6671ee;
                padding-bottom: 1.5rem;

                &:hover {
                    cursor: pointer;
                    font-weight: 500;
                }

            }
        }

    }

    @media (min-width: 900px) { /*mobile-first approach */
        .foot {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

        }
    }


}
