.hero {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.catch .title {
    width: 100%;
}

.catch .title h1 {
    font-size: 3.3rem;
    font-weight: 800;
}

.catch .title #kennel-title {
    color: #6671ee;
}

.catch .title button {
    color: #fff;
    width: 100%;
    font-size: 1.15rem;
}

.catch .title button:hover {
    font-weight: 600;
}

.catch .title p {
    color: #6B7280;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.catch .home-photo {
    display: none;
}

@media (min-width: 900px) {
    /* mobile-first approach */

    .hero {
        padding: 4.5rem;
    }
    
    .catch .hero {
        height: 100vh;
    }

    .catch .title h1 {
        font-size: 4rem;
    }

    .catch .home-photo {
        display: flex;
        justify-content: center;
    }

    .catch .home-photo span {
        top: 15%;
        left: 50%;
        position: absolute;
        background-color: #6671ee;
        width: 8rem;
        height: 4rem;
        border-radius: 10px;
    }

    .catch .home-photo img {
        max-width: 100%;
        max-height: 25rem;
        z-index: 1;
        border-radius: 5px;
    }
}
