.signbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 500px;
        width: 80%;
        background-color: #fff;
        border-radius: 5%;
        padding: 2rem;
        


        h1 {
            text-align: center;
        }

        p:hover {
            width: 3rem;
            border-bottom: 4px solid #6671ee;
            
            
        }

        label, input {
            display: block;
            
        }


       
       
        
    }
